# Dependencies
node_modules
.pnpm-store

# Production build
dist
build

# Testing
coverage
.nyc_output

# Local Env Files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode/*
.trae/*
.cursor/*
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Architext
.architext/*

# System Files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
